.bundle
.idea
.relish
.rvmrc
config/database.yml
coverage/
db/*.sqlite3
log/
public/booklr
public/javascripts/booklr.js
public/stylesheets/*.css
public/uploads
booklr.iml
tmp/
.sass-cache/
temp_images/
.DS_Store
.svn
