a:link, a:visited {
color:#FFFFFF;
text-decoration:none;
}
a:hover {
color:#FFFFFF;
text-decoration: underline;
}
/*a img {
border:medium none;
}
a.section:link, a.section:visited {
color:white;
text-decoration:none;
}
p, ol, ul, dl {
margin:0.2em 0 0.8em;
}
p {
line-height:140%;
padding:0;
}
h1, h2, h3, h4, h5 {
font-weight:bold;
}
h1 {
color:#666666;
font-size:18px;
margin:0 0 0.2em;
padding:0 6px 0 0;
}
h2 {
font-size:16px;
margin:1em 0 0.5em;
}
h2.subhead {
font-weight:normal;
margin-top:0;
}
h3 {
color:#666666;
font-size:14px;
font-weight:bold;
margin:0.8em 0 0.3em;
}
h4 {
font-size:12px;
margin:1em 0 0.8em;
padding-bottom:3px;
}
h5 {
color:#666666;
font-size:10px;
letter-spacing:1px;
margin:1.5em 0 0.5em;
text-transform:uppercase;
}
ul li {
list-style-type:square;
padding:1px 0;
}
ul.plainlist {
margin-left:0 !important;
}
ul.plainlist li {
list-style-type:none;
}
li ul {
margin-bottom:0;
}
li, dt, dd {
font-size:11px;
line-height:14px;
}
dt {
font-weight:bold;
margin-top:4px;
}
dd {
margin-left:0;
}
form {
margin:0;
padding:0;
}
fieldset {
margin:0;
padding:0;
}
blockquote {
border-left:5px solid #DDDDDD;
color:#777777;
font-size:11px;
margin-left:2px;
padding-left:10px;
}
code, pre {
-moz-background-clip:inherit;
-moz-background-inline-policy:inherit;
-moz-background-origin:inherit;
background:inherit inherit inherit inherit inherit;
color:#666666;
font-family:"Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace;
font-size:11px;
}
pre.literal-block {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
margin:10px;
padding:6px 8px;
}
code strong {
color:#993300;
}
hr {
background-color:#EEEEEE;
border:medium none;
clear:both;
color:#EEEEEE;
font-size:1px;
height:1px;
line-height:1px;
margin:0;
padding:0;
}
.small {
font-size:11px;
}
.tiny {
font-size:10px;
}
p.tiny {
margin-top:-2px;
}
.mini {
font-size:9px;
}
p.mini {
margin-top:-3px;
}
.help, p.help {
color:#999999;
font-size:10px !important;
}
p img, h1 img, h2 img, h3 img, h4 img, td img {
vertical-align:middle;
}
.quiet, a.quiet:link, a.quiet:visited {
color:#999999 !important;
font-weight:normal !important;
}
.quiet strong {
font-weight:bold !important;
}
.float-right {
float:right;
}
.float-left {
float:left;
}
.clear {
clear:both;
}
.align-left {
text-align:left;
}
.align-right {
text-align:right;
}
.example {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EFEFEF none repeat scroll 0 0;
margin:10px 0;
padding:5px 10px;
}
.nowrap {
white-space:nowrap;
}
table {
border-collapse:collapse;
border-color:#CCCCCC;
}
td, th {
border-bottom:1px solid #EEEEEE;
font-family:"Lucida Grande",Verdana,Arial,sans-serif;
font-size:11px;
line-height:13px;
padding:5px;
vertical-align:top;
}
th {
font-size:12px;
font-weight:bold;
text-align:left;
}
thead th, tfoot td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E1E1E1 url(../img/admin/nav-bg.gif) repeat-x scroll left top;
border-bottom:1px solid #DDDDDD;
border-left:1px solid #DDDDDD;
color:#666666;
font-size:11px;
padding:2px 5px;
}
tfoot td {
border-bottom:medium none;
border-top:1px solid #DDDDDD;
}
thead th:first-child, tfoot td:first-child {
border-left:medium none !important;
}
thead th.optional {
font-weight:normal !important;
}
fieldset table {
border-right:1px solid #EEEEEE;
}
tr.row-label td {
border-bottom:medium none;
color:#666666;
font-size:9px;
margin-top:-1px;
padding-bottom:0;
padding-top:2px;
}
tr.alt {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F6F6F6 none repeat scroll 0 0;
}

thead th a:link, thead th a:visited {
color:#666666;
display:block;
}
table thead th.sorted {
background-position:left bottom !important;
}
table thead th.sorted a {
padding-right:13px;
}
table thead th.ascending a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../img/admin/arrow-down.gif) no-repeat scroll right 0.4em;
}
table thead th.descending a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../img/admin/arrow-up.gif) no-repeat scroll right 0.4em;
}
table.orderable tbody tr td:hover {
cursor:move;
}
table.orderable tbody tr td:first-child {
background-image:url(../img/admin/nav-bg-grabber.gif);
background-repeat:repeat-y;
padding-left:14px;
}
table.orderable-initalized .order-cell, body > tr > td.order-cell {
display:none;
}
input, textarea, select {
font-family:"Lucida Grande",Verdana,Arial,sans-serif;
font-size:11px;
font-weight:normal;
margin:2px 0;
padding:2px 3px;
vertical-align:middle;
}
textarea {

vertical-align:top !important;
}
input[type="text"], input[type="password"], textarea, select, .vTextField {
border:1px solid #CCCCCC;
}
.button, input[type="submit"], input[type="button"], .submit-row input {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white url(../img/admin/nav-bg.gif) repeat-x scroll center bottom;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
color:black;
padding:3px;
}
.button:active, input[type="submit"]:active, input[type="button"]:active {
background-image:url(../img/admin/nav-bg-reverse.gif);
background-position:center top;
}
.button.default, input.default[type="submit"], .submit-row input.default {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#7CA0C7 url(../img/admin/default-bg.gif) repeat-x scroll center bottom;
border:2px solid #5B80B2;
color:white;
float:right;
font-weight:bold;
}
.button.default:active, input.default[type="submit"]:active {
background-image:url(../img/admin/default-bg-reverse.gif);
background-position:center top;
}
.module {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white none repeat scroll 0 0;
border:1px solid #CCCCCC;
margin-bottom:5px;
}
.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
padding-left:10px;
padding-right:10px;
}
.module blockquote {
margin-left:12px;
}
.module ul, .module ol {
margin-left:1.5em;
}
.module h3 {
margin-top:0.6em;
}
.module h2, .module caption, .inline-group h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#7CA0C7 url(../img/admin/default-bg.gif) repeat-x scroll left top;
color:white;
font-size:11px;
font-weight:bold;
margin:0;
padding:2px 5px 3px;
text-align:left;
}
.module table {
border-collapse:collapse;
}
ul.messagelist {
margin:0;
padding:0 0 5px;
}
ul.messagelist li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFCC url(../img/admin/icon_success.gif) no-repeat scroll 5px 0.3em;
border-bottom:1px solid #DDDDDD;
color:#666666;
display:block;
font-size:12px;
margin:0 0 3px;
padding:4px 5px 4px 25px;
}
.errornote {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFCC url(../img/admin/icon_error.gif) no-repeat scroll 5px 0.3em;
border:1px solid red;
color:red;
display:block;
font-size:12px !important;
margin:0 0 3px;
padding:4px 5px 4px 25px;
}
ul.errorlist {
margin:0 !important;
padding:0 !important;
}
.errorlist li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:red url(../img/admin/icon_alert.gif) no-repeat scroll 5px 0.3em;
border:1px solid red;
color:white;
display:block;
font-size:12px !important;
margin:0 0 3px;
padding:4px 5px 4px 25px;
}
td ul.errorlist {
margin:0 !important;
padding:0 !important;
}
td ul.errorlist li {
margin:0 !important;
}
.errors {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFCC none repeat scroll 0 0;
}
.errors input, .errors select {
border:1px solid red;
}
div.system-message {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFCC none repeat scroll 0 0;
font-size:0.8em;
margin:10px;
padding:6px 8px;
}
div.system-message p.system-message-title {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFCC url(../img/admin/icon_error.gif) no-repeat scroll 5px 0.3em;
color:red;
margin:0;
padding:4px 5px 4px 25px;
}
.description {
font-size:12px;
padding:5px 0 0 12px;
}
div.breadcrumbs {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white url(../img/admin/nav-bg-reverse.gif) repeat-x scroll 0 -10px;
border-bottom:1px solid #CCCCCC;
border-top:1px solid white;
color:#999999;
font-size:11px;
padding:2px 8px 3px;
text-align:left;
}
.addlink {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../img/admin/icon_addlink.gif) no-repeat scroll 0 0.2em;
padding-left:12px;
}
.changelink {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../img/admin/icon_changelink.gif) no-repeat scroll 0 0.2em;
padding-left:12px;
}
.deletelink {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../img/admin/icon_deletelink.gif) no-repeat scroll 0 0.25em;
padding-left:12px;
}
a.deletelink:link, a.deletelink:visited {
color:#CC3434;
}
a.deletelink:hover {
color:#993333;
}

table#change-history {
width:100%;
}
table#change-history tbody th {
width:16em;
}
*/
#container {
	padding:0;
	width:100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
}
#content {
	position: relative;
	top: 100px;
	left: 0px;
	border: solid;
	border-width: 1px;
	border-color: #bcbcbc;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	height: 700px;
	background-color: #FFFFFF;
	z-index: 2;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: 100;
}
.selectsection {
	position: relative;
	top: 20px;
	left: 25px;
}
#selectaction {
	position: relative;
	top: 30px;
	left: 20px;
}
#header {
	width:100%;
	background: url(../images/headergradient.png) top left repeat-x;
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#content-main {
	border: solid;
	border-color: #bcbcbc;
	border-width: 1px;
	position: relative;
	top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #f5f5f5;
	height: 595px;
}
#site-name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
#user-tools {
	font-size:12px;
	padding:1.6em 20px;
	position:absolute;
	right:0;
	text-align:right;
	top:0;
	color: #bababa;
	font-family: Arial, Helvetica, sans-serif;
}
#table {
	border: solid;
	border-color: #dddddd;
	border-width: 1px;
	position: relative;
	top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 466px;
}

#tableholder {
	position: relative;
	top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.tableheader {
	color:#00000;
	text-align: left;
}

.tablebody {
	color:#999999;
	text-align: left;
}

.search {
	position: relative;
	top: 15px;
	height: 23px;
	margin-left: 20px;
}


.checkcell {
	width: 20px;
}

.textcell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 5px;
}

.flagcell {
	width: 20px;
}

.search .searchbutton{
	position: relative;
	top: 6px;
	left: 6px;
}
#branding h1 {
	margin:9px 0;
	padding: 0 15px;
}
.row1 {
	background:#fffdf3 none repeat scroll 0 0;
	display: none;
}
td {
	border: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size:12px;
}
th {
	border: solid;
	border-width: 1px;
	border-color: #dddddd;
}
.row2 {
	background:white none repeat scroll 0 0;
}
#tabs .all{
	position: absolute;
	top: 73px;
	left: 30px;
	z-index: 5;
}
#tabs .flagged {
	position: absolute;
	top: 73px;
	left: 150px;
	z-index: 4;
}
#tabs .help {
	position: absolute;
	top: 73px;
	left: 270px;
	z-index: 4;
}

#paginator {
	width: 100%
	position: relative;
	text-align: right;
	top: 80px;
}

#paginator .pagelink {
	color: #333333;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
/*
#footer {
clear:both;
padding:10px;
}
.colMS {
margin-right:20em !important;
}
.colSM {
margin-left:20em !important;
}
.colSM #content-related {
float:left;
margin-left:-19em;
margin-right:0;
}
.colSM #content-main {
float:right;
}
.popup .colM {
width:95%;
}
.subcol {
float:left;
margin-right:15px;
width:46%;
}
.dashboard #content {
width:500px;
}


#header a:link, #header a:visited {
color:white;
}
#header a:hover {
text-decoration:underline;
}

#branding h2 {
color:#FFFFCC;
font-size:14px;
font-weight:normal;
margin:-8px 0 8px;
padding:0 10px;
}

#content-related h3 {
color:#666666;
font-size:12px;
margin-bottom:3px;
}
#content-related h4 {
font-size:11px;
}
#content-related .module h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE url(../img/admin/nav-bg.gif) repeat-x scroll left bottom;
color:#666666;
}


/* css for mobadmin flagged data */

.adminsection {
left:25px;
margin-left:87px;
margin-top:24px;
position:relative;
top:20px;
}

.adminsearch {
height:23px;
margin-left:20px;
margin-top:27px;
position:relative;
top:15px;
}	


.deletesection {
left:25px;
margin-left:56px;
margin-top:26px;
position:relative;
top:9px;
}

.adminokbutton {
left:25px;
margin-left:303px;
margin-right:26px;
margin-top:-2px;
}
	


/* end css for mob help */

/* start of flag comment popup */
#confirm_delete5 {
    width: 260px;
    margin-top: -530px;
}

#confirm_delete5 .pu_col {
    padding: 8px;
}

#confirm_delete5 .pu_col.right {
    width: 260px;
    text-align: center;
}

#confirm_delete5 h4 {
    padding: 0 0 6px 0;
    font-size: 12px;
}

#confirm_delete5 a {
    margin: 0 0 0 20px;
    color: #000000;
    font-size: 12px;
}

#confirm_delete5 a.second_a {
    position: relative;
    left: 75px;
    top: -28px;
}

/* End of flag comment popup */
.personal_textarea {
 float: left;
                   
}
/* Admin Help page  */
.admintxt {
font-size:14px;
margin-left:80px;
margin-top:31px;
position:relative;
}



.adminpagename {
margin-left:119px;
margin-top:-18px;
position:relative;
}



.admintextarea {
font-size:14px;
margin-left:76px;
margin-top:41px;
position:relative;
}


.adminsaveimage {
margin-left:245px;
margin-top:29px;
position:relative;
}
.mceIframeContainer {
	
	position: relative;
	}
	




