<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"   
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd       
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
    >
    <!-- Hibernate SessionFactory1 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="annotatedPackages">
        	<list>
        		<value>com.mob.model</value>
        		<value>com.mob.model.profile</value>
        		
        		
        	</list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
            </value>
            <!-- Turn batching off for better error messages under PostgreSQL -->
            <!--1 hibernate.jdbc.batch_size=0 -->
        </property>
        
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- JNDI DataSource for J2EE environments For WS -->
    <jee:jndi-lookup id="dataSource" jndi-name="jca:/console.dbpool/jdbc_mob/JCAManagedConnectionFactory/jdbc/mob"/>

    <!-- JNDI DataSource for J2EE environments For JBoss -->
    <!--<jee:jndi-lookup id="dataSource" jndi-name="java:jdbc/mob"/>-->

    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driverClassName}"/>-->
        <!--<property name="url" value="${jdbc.url}"/>-->
        <!--<property name="username" value="${jdbc.username}"/>-->
       <!--<property name="password" value="${jdbc.password}"/>-->
        <!--<property name="maxActive" value="100"/>-->
        <!--<property name="maxWait" value="1000"/>-->
        <!--<property name="poolPreparedStatements" value="true"/>-->
        <!--<property name="defaultAutoCommit" value="true"/>-->
    <!--</bean> -->
<tx:annotation-driven transaction-manager="transactionManager"/> 

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	
    
	 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host">
            <value>localhost</value>
        </property>
        <property name="port">
            <value>25</value>
            </property>
    </bean>

    <bean id="baseDao"
          class="com.mob.dao.hibernate.BaseHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="userDao"
          class="com.mob.dao.hibernate.HibernateUserDao"
          autowire="byType">
    </bean>
    
    <bean id="baseService"
          class="com.mob.services.impl.BaseServiceImpl"
          autowire="byType">
    </bean>
   
    
    <bean id="employerService"
          class="com.mob.services.impl.EmployerServiceImpl"
          autowire="byType">
    </bean>
   
    
       
    <bean id="employeeService"
          class="com.mob.services.impl.EmployeeServiceImpl"
          autowire="byType">
    </bean>
    

	<bean id="searchDao"
          class="com.mob.dao.hibernate.HibernateSearchDao"
          autowire="byType">
    </bean>
    
       
    <bean id="searchService"
          class="com.mob.services.impl.SearchServiceImpl"
          autowire="byType">
    </bean>
    
    <bean id="briefCaseDao"
          class="com.mob.dao.hibernate.HibernateBriefCaseDao"
          autowire="byType">
    </bean>
     <bean id="groupDao"
          class="com.mob.dao.hibernate.GroupHibernateDao"
          autowire="byType">
    </bean>
       
    <bean id="briefcaseService"
          class="com.mob.services.impl.BriefCaseServiceImpl"
          autowire="byType">
    </bean>
    
    
    
    <bean id="forgotPasswordActionClass"
          class="com.mob.view.action.mailnotification.ForgotPasswordAction"
          autowire="byType" scope="prototype">
    </bean>


	<bean id="FileUploadAction"
          class="com.mob.view.action.employee.FileUploadAction"
          autowire="byType" scope="prototype">
    </bean>
    <bean id="profileDao"
          class="com.mob.dao.hibernate.HibernateProfileDao"
          autowire="byType">
    </bean>
    
       
    <bean id="profileService"
          class="com.mob.services.impl.ProfileServiceImpl"
          autowire="byType">
    </bean>
   
    <bean id="itemService"
          class="com.mob.services.impl.ItemServiceImpl"
          autowire="byType">
    </bean>
    <bean id="itemDao"
          class="com.mob.dao.hibernate.HibernateItemDao"
          autowire="byType">
    </bean>
       
    <bean id="groupServiceImpl"
          class="com.mob.service.group.impl.GroupServiceImpl"
          autowire="byType">
    </bean>
   
    <bean id="amazonServiceImpl"
          class="com.mob.service.amazon.impl.AmazonServiceImpl"
          init-method="init"
          autowire="byType">
    </bean>
   
   
    <bean id="employeeOpportunityService"
          class="com.mob.services.impl.EmployeeOpportunityServiceImpl"
          autowire="byType">
    </bean>
    <bean id="employeeOpportunityDao"
          class="com.mob.dao.hibernate.EmployeeOpportunityHibernateDao"
          autowire="byType">
    </bean>

     <!-- added for employee module -->
      <bean id="addEmployeeAction"
          class="com.mob.view.action.employee.CreateEmployeeAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="editEmployeeAction"
          class="com.mob.view.action.employee.UpdateEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="updateEmployeeProfileAction"
          class="com.mob.view.action.employee.UpdateEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="deleteEmployeeAction"
          class="com.mob.view.action.employee.DeleteEmployeeAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="addProfileAction"
          class="com.mob.view.action.employee.EmployeeProfileAccountAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     
     <bean id="createProfileSession"
          class="com.mob.view.action.employee.EmployeeProfileAccountSession"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="addEmployeeProfileSession"
          class="com.mob.view.action.employee.AddEmployeeProfileSessionAction"
          scope="prototype"
          autowire="byType">
    </bean>
   
     <bean id="loadProfileAction"
          class="com.mob.view.action.employee.LoadProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="LoadProfileListAction"
          class="com.mob.view.action.employee.LoadProfileListAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
   
    
    <!-- created on 16-07-08 for Employer Module -->
	<bean id="addEmployerAction"
          class="com.mob.view.action.employer.CreateEmployerAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     <bean id="addEmployerProfileAction"
          class="com.mob.view.action.employer.CreateProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
     <bean id="viewListProfileAction"
          class="com.mob.view.action.employer.ListProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>

<bean id="setUpForInsertOrUpdateAction"
          class="com.mob.view.action.employer.LoadEmployerProfile"
          scope="prototype"
          autowire="byType">
    </bean>
	<bean id="editEmployerProfileAction"
          class="com.mob.view.action.employer.EditProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="deleteEmployerProfileAction"
          class="com.mob.view.action.employer.DeleteProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="editEmployerAccountAction"
          class="com.mob.view.action.employer.EditEmployerAccountAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!-- Added for creating opportunity of Employer module on 08/08/08 -->
    <bean id="createOpportunityAction"
          class="com.mob.view.action.employer.CreateOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="loadAccountAction"
          class="com.mob.view.action.employer.LoadEmployerAccount"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="editEmployeeAccountAction"
          class="com.mob.view.action.employee.EditEmployeeAccountAction"
          scope="prototype"
          autowire="byType">
    </bean>
     <bean id="loadEmployeeAccountAction"
          class="com.mob.view.action.employee.LoadEmployeeAccountAction"
          scope="prototype"
          autowire="byType">
    </bean>
       
     
    <bean id="deleteEmployeeProfileAction"
          class="com.mob.view.action.employee.DeleteEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     <bean id="addContactAction"
          class="com.mob.view.action.employee.CreateContactAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
   
    <bean id="loadContactsAction"
    	class="com.mob.view.action.employee.ViewAllContactsAction"
    	scope="prototype" autowire="byType">
    </bean>
    
    
    
    <bean id="deleteContactAction"
    	class="com.mob.view.action.employee.DeleteContactAction"
    	scope="prototype" autowire="byType">
    </bean>
    <bean id="viewTotalNoOfContacts"
          class="com.mob.view.action.employee.ViewTotalNoOfContactsAction"
          scope="prototype"
          autowire="byType">
    </bean>
      <bean id="emailValidator"
          class="com.mob.view.action.employee.FormValidationAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <!-- Search Criteria for getting Existing Profiles -->
     <bean id="searchProfiles"
          class="com.mob.view.action.employee.SerachForProfilesAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!--  NU
     <bean id="createFeedbackAction"
          class="com.mob.view.action.employee.CreateFeedbackAction"
          scope="prototype"
          autowire="byType">
    </bean>
     -->
 	<!--  	
 	 <bean id="profileDetails" class="com.mob.model.profile.Profile"
 		scope="session"/>	
 		-->
     <bean id="createProfileAction1"
          class="com.mob.view.action.employee.AddEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="loadEmployeeProfileAction"
          class="com.mob.view.action.employee.LoadProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="edtEmployeeProfileSessionAction"
          class="com.mob.view.action.employee.EditEmployeeProfileSessionAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="editProfileAction"
          class="com.mob.view.action.employee.EditEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
   <bean id="changePasswordAction"
          class="com.mob.view.action.employer.ChangePasswordAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
      
      <bean id="loadEmployerOpprotunityAction"
          class="com.mob.view.action.employer.LoadEmployerOpprotunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     
      <bean id="loadEmployerOpprotunityListAction"
          class="com.mob.view.action.employer.LoadEmployerOpportunitiesListAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="updateEmployerOpportunityAction"
          class="com.mob.view.action.employer.UpdateEmployerOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="deleteEmployeerOpportunityAction"
          class="com.mob.view.action.employer.DeleteEmployeerOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
     
      <bean id="loadEmployerOpportunitiesListAction"
          class="com.mob.view.action.employer.LoadEmployerOpportunitiesListAction"
          scope="prototype"
          autowire="byType">
    </bean>
      
       <bean id="addnewbriefcaseitem"
          class="com.mob.view.action.employee.AddBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="LoadBriefcaseItems"
          class="com.mob.view.action.employee.LoadBriefcaseItems"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="profileSession" class="com.mob.dto.ProfileSession" scope="session"/>
    <bean id="employerRrofileSession" class="com.mob.dto.EmployerProfileSession" scope="session"/>
    
	<bean id="groupMember"
          class="com.mob.dto.GroupMember"
          scope="prototype"
          autowire="byType">
    </bean>
    <!-- edit briefcase items -->
     <bean id="editbriefcaseitem"
          class="com.mob.view.action.employee.EditBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!-- delete briefcase items -->
    <bean id="deleteBriefcaseItemAction"
          class="com.mob.view.action.employee.DeleteBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    

    
    
    <bean id="loadEmployerBriefcaseItems"
          class="com.mob.view.action.employer.LoadEmployerBriefcaseItems"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="addEmployerBriefcaseItem"
          class="com.mob.view.action.employer.AddEmployerBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>

<bean id="editEmployerBriefcaseItem"
          class="com.mob.view.action.employer.EditEmployerBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="deleteEmployerBriefcaseItemAction"
          class="com.mob.view.action.employer.DeleteEmployerBriefcaseItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="contactValidationAction"
          class="com.mob.view.action.employee.ContactValidationAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="createSearchAction"
          class="com.mob.view.action.employee.CreateSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="loadEmployerOpportunity"
          class="com.mob.view.action.employee.LoadEmployerOpportunity"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     <bean id="applyForOpportunityAction"
          class="com.mob.view.action.employee.ApplyForOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="bookMarkeOpportunityAction"
          class="com.mob.view.action.employee.BookMarkeOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="addIndustry"
          class="com.mob.view.action.employee.AddAnotherIndustryAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="addAnotherSkill"
          class="com.mob.view.action.employee.AddAnotherSkillAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!-- add action class for addanothercatogory -->
    <bean id="addCatogory"
          class="com.mob.view.action.employee.AddAnotherCatogoryAction"
          scope="prototype"
          autowire="byType">
    </bean>
   
    
    <!-- add feedbackForEmployee -->
    
    <bean id="feedbackForEmployee"
          class="com.mob.view.action.employee.FeedbackForEmployeeAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean id="feedbackDao"
          class="com.mob.dao.hibernate.FeedbackHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="feedbackService"
          class="com.mob.services.impl.FeedbackServiceImpl"
          autowire="byType">
    </bean>
    
    <!-- End feedbackForEmployee -->
    
    <!--  Employee profile   -->
    <bean id="employeeprofileDao"
          class="com.mob.dao.hibernate.EmployeeProfileHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="employeeprofileService"
          class="com.mob.services.impl.EmployeeProfileServiceImpl"
          autowire="byType">
    </bean>
      
    <!-- End of Employee profile -->
    
    <!-- Contact Employee -->
    
    <bean id="contactemployeeDao"
          class="com.mob.dao.hibernate.ContactEmployeeHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="contacyemployeeService"
          class="com.mob.services.impl.ContactEmployeeServiceImpl"
          autowire="byType">
    </bean>
    
    <!-- End of Contact Employee -->
    
    <!-- opportunity for employer -->
    <bean id="opportunityDao"
          class="com.mob.dao.hibernate.OpportunityHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="opportunityService"
          class="com.mob.services.impl.OpportunityServiceImpl"
          autowire="byType">
    </bean>
    
    <!-- End of opportunity -->
    
    <!-- Employer Profile -->
     <bean id="employerprofileDao"
          class="com.mob.dao.hibernate.EmployerProfileHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="employerprofileService"
          class="com.mob.services.impl.EmployerProfileServiceImpl"
          autowire="byType">
    </bean>    
    
    <!-- End of Employer Profile -->
    
    <!-- Employer Account -->
    
     <bean id="employerAccountDao"
          class="com.mob.dao.hibernate.HibernateEmployerAccountDao"
          autowire="byType">
    </bean>
    
    <bean id="employerAccountService"
          class="com.mob.services.impl.EmployerAccountServiceImpl"
          autowire="byType">
    </bean>    
    
    
    <!-- Employer Account  -->
    
    <!-- Employee Account -->
    
    <bean id="employeeAccountDao"
          class="com.mob.dao.hibernate.HibernateEmployeeAccountDao"
          autowire="byType">
    </bean>
    
    <bean id="employeeAccountService"
          class="com.mob.services.impl.EmployeeAccountServiceImpl"
          autowire="byType">
    </bean>    
    
    <!-- End of Employee Account -->
    
<!-- Messaging Implimentation -->
 <bean id="emailMessagingService"
          class="com.mob.services.impl.MessagingServiceImpl"
          autowire="byType">
    </bean>
    <bean id="emailMessagingDao"
          class="com.mob.dao.hibernate.HibernateMessagingDao"
          autowire="byType">
    </bean>
<!-- End Messaging Implimentation -->

  
     <bean id="editContactsItemAction"
          class="com.mob.view.action.employee.EditContactsItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
        
     <bean id="listOfEmployeesSearchAction"
          class="com.mob.view.action.search.ListOfEmployeesSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="viewEmployeeFromSearchAction"
          class="com.mob.view.action.search.ViewEmployeeFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
   
   <bean id="loadListOpportunitiesFromSearchAction"
          class="com.mob.view.action.search.LoadListOpportunitiesFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="loadOpportunityFromSearchAction"
          class="com.mob.view.action.search.LoadOpportunityFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="listEmployersFromSearchAction"
          class="com.mob.view.action.search.ListEmployersFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="viewEmployerFromSearchAction"
          class="com.mob.view.action.search.ViewEmployerFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     
    <bean id="viewInterestedEmployeeProfilesAction"
          class="com.mob.view.action.employer.ViewInterestedEmployeeProfilesAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="viewingInterestedEmployeeProfileAction"
          class="com.mob.view.action.employer.ViewingInterestedEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="viewEmployeeProfileFromSearchAction"
          class="com.mob.view.action.search.ViewEmployeeProfileFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="viewEmployerProfileFromSearchAction"
          class="com.mob.view.action.search.ViewEmployerProfileFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="viewEmployeeProfileDetailsFromSearchAction"
          class="com.mob.view.action.search.ViewEmployeeProfileDetailsFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="addEmployeeContactFromSearchAction"
          class="com.mob.view.action.search.CreateEmployeeContactFromSearch"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="feedbackForEmployeeFromSearchACtion"
          class="com.mob.view.action.search.FeedbackForEmployeeFromSearchACtion"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
     <bean id="bookMarkedEmployeeProfilesAction"
          class="com.mob.view.action.employer.ViewBookMarkedEmployeeProfilesAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    
    <bean id="viewingBookMarkedEmployeeProfileAction"
          class="com.mob.view.action.employer.ViewingBookMarkedEmployeeProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!-- NU
    <bean id="allEmployeeProfilesViewedOpportunityAction"
          class="com.mob.view.action.employer.AllEmployeeProfilesViewedOpportunityAction"
          scope="prototype"
          autowire="byType">
    </bean>
    -->
     <!-- For sending Email  -->
	    <bean id="sentMailActionClass"
	          class="com.mob.view.action.employee.SentEmailAction"
                scope="prototype"
              autowire="byType">
	    </bean>
	    
	    <bean id="emailMessageListAction"
	          class="com.mob.view.action.employee.EmailMessagingListAction"
                scope="prototype"
              autowire="byType">
	    </bean>
	    
	     <bean id="deleteSentMessageAction"
	          class="com.mob.view.action.employee.DeleteSentMessageAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	     <bean id="sendEmprEmailActionClass"
	          class="com.mob.view.action.employer.SendEmprEmailAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	   <bean id="emplrEmailMessageListAction"
	          class="com.mob.view.action.employer.ListEmprEmailMessagingListAction"
               scope="prototype"
              autowire="byType">
	    </bean>
	     <bean id="deleteEmprSentMessageAction"
	          class="com.mob.view.action.employer.DeleteEmprSentMessageAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	     <bean id="emailMessagingInboxListAction"
	          class="com.mob.view.action.employee.EmailMessagingInboxListAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	     <bean id="deleteEmployeeRecdMsgsAction"
	          class="com.mob.view.action.employee.DeleteEmployeeRecdMsgsAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	     <bean id="emplrInboxMessageListAction"
	          class="com.mob.view.action.employer.EmplrInboxMessageListAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	     <bean id="deleteEmprRecdMessageAction"
	          class="com.mob.view.action.employer.DeleteEmployerRecdMsgsAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    <bean id="formEmprEmailValidate"
	          class="com.mob.view.action.employer.FormEmplrValidationAction"
                scope="prototype"
              autowire="byType">
	    </bean>
	   
	   <bean id="loadEmployeeMsgInboxAction"
	          class="com.mob.view.action.employee.LoadEmployeeMsgInboxAction"
               scope="prototype"
              autowire="byType">
	    </bean>
	    
	    <bean id="deleteEmployeeRecdReadMsgsAction"
	          class="com.mob.view.action.employee.DeleteEmployeeRecdReadMsgsAction"
                scope="prototype"
              autowire="byType">
	    </bean>
	    
	   <bean id="loadEmployeeMsgOutboxAction"
	          class="com.mob.view.action.employee.LoadEmployeeMsgOutboxAction"
               scope="prototype"
              autowire="byType">
	    </bean>
	    
	   <bean id="loadEmployerMsgInboxAction"
	          class="com.mob.view.action.employer.LoadEmployerMsgInboxAction"
               scope="prototype"
              autowire="byType">
	    </bean>
	    
	     <bean id="loadEmployerMsgOutboxAction"
	          class="com.mob.view.action.employer.LoadEmployerMsgOutboxAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	    <bean id="markAsUnreadEmpMsgsAction"
	          class="com.mob.view.action.employee.MarkAsUnreadEmpMsgsAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    <bean id="markAsUnreadEmprMsgsAction"
	          class="com.mob.view.action.employer.MarkAsUnreadEmprMsgsAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	      <bean id="messageEmpReplyInboxAction"
	          class="com.mob.view.action.employee.MessageEmpReplyInboxAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	    <bean id="emprMsgContactListAction"
	          class="com.mob.view.action.employer.EmprMsgContactListAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	    
	    <bean id="messageEmprReplyInboxAction"
	          class="com.mob.view.action.employer.MessageEmprReplyInboxAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
	   
<!-- End of for sending Email  -->

		
		 <bean id="listOfEmployeeFeedbacksAction"
	          class="com.mob.view.action.employee.ListOfEmployeeFeedbacksAction"
                 scope="prototype"
              autowire="byType">
	    </bean>
    
     <bean id="listOfEmployeeFeedbacksFromSearchAction"
	          class="com.mob.view.action.search.ListOfEmployeeFeedbacksFromSearchAction"
             scope="prototype"
              autowire="byType">
	    </bean>

 
     <bean id="getEmployeeContactsForSkypeAction"
           class="com.mob.view.action.employee.GetEmployeeContactsForSkypeAction"
             scope="prototype"
           autowire="byType">
     </bean>
     <!--Added by Jerry 02-Feb-09-->
        <bean id="userManagement" class="com.mob.services.impl.UserManagementServiceImpl" autowire="byType"/>

        <!--  -->
        <bean id="integrationPoint" class="com.mob.integration.IntegrationPoint">
            <property name="listeners">
                <list>
                    <ref bean="forumIntegrationPoint"/>
                </list>
            </property>
        </bean>

        <bean id="forumIntegrationPoint" class="com.mob.forum.integration.IntegrationPoint" autowire="byType"/>
    <!--Finished addition for JForum integration-->
    
    
    <bean id="feedbackForEmployeeFromEmployeeAction"
          class="com.mob.view.action.search.FeedbackForEmployeeFromEmployeeAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="addEmployerContactFromSearchAction"
          class="com.mob.view.action.search.CreateContactEmployerFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="ViewAllEmployerContactsAction"
          class="com.mob.view.action.employer.ViewAllContactsAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="editEmployerContactsItemAction"
          class="com.mob.view.action.employer.EditEmployerContactsItemAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="deleteEmployerContactAction"
    	class="com.mob.view.action.employer.DeleteEmployerContactAction"
    	scope="prototype" autowire="byType">
    </bean>
        
    <bean id="getContactsForEmployerSkypeAction"
    	class="com.mob.view.action.employer.GetContactsForSkypeAction"
    	scope="prototype" autowire="byType">
    </bean>

    
    <bean id="contactEmplrValidationAction"
    	class="com.mob.view.action.employer.ContactEmplrValidationAction"
    	scope="prototype" autowire="byType">
    </bean>
    
    <bean id="contactEmplValidationAction"
    	class="com.mob.view.action.employee.ContactEmplValidationAction"
    	scope="prototype" autowire="byType">
    </bean>
    
    <bean id="loadSkillsDetails"
          class="com.mob.view.action.employee.LoadSkillsDetailsAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <!--added beens for privacygroup-->
    
  <bean id="privacyDao"
          class="com.mob.dao.hibernate.HibernatePrivacyGroupDao"
          autowire="byType">
    </bean>
    
    <bean id="privacyService"
          class="com.mob.services.impl.PrivacyGroupServiceImpl"
          autowire="byType">
    </bean>   
 <bean id="newPrivacyGroupAction"
          class="com.mob.view.action.employee.EmployeePrivacyGroupAction"
          scope="prototype"
          autowire="byType">
 </bean>
 
 <bean id="loadPrivacyDetailsAction"
          class="com.mob.view.action.employee.LoadPrivacyDetailsAction"
          scope="prototype"
          autowire="byType">
 </bean>
 
 <bean id="addEmployeePrivacySettingsAction"
          class="com.mob.view.action.employee.AddEmployeePrivacySettingsAction"
          scope="prototype"
          autowire="byType">
 </bean>
 
    <bean id="viewEmployerBriefcaseFromSearchAction"
          class="com.mob.view.action.search.ViewEmployerBriefcaseFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>

	<bean id="checkExistingEmailIdAction"
          class="com.mob.view.action.mailnotification.CheckExistingEmailIdAction"
          scope="prototype"
          autowire="byType">
    </bean>

   <bean id="listEmpOpportunities"
          class="com.mob.view.action.search.ListEmpOpportunities"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="viewEmployerProfileSearchAction"
          class="com.mob.view.action.search.ViewEmployerProfileFromSearch"
          scope="prototype"
          autowire="byType">
    </bean>

    <bean id="listOfEmployerFeedbacksFromSearchAction"
          class="com.mob.view.action.search.ListOfEmployerFeedbacksFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    <bean class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" id="imageCaptchaService" />

    <!-- Action -->
    <bean id="loadNewsAction"
          class="com.mob.view.action.news.LoadNewsAction" autowire="byType" scope="prototype"/>
    
    
	<bean id="ediEmployeeProfileDeatails"
          class="com.mob.view.action.employee.EdiEmployeeProfileDeatails"
          scope="prototype"
          autowire="byType">
    </bean>

    <!--Employer opportunity list-->
    <bean id="viewAllOpportunities" class="com.mob.view.action.employer.opportunities.ViewOpportunitiesAction"
        scope="prototype" autowire="byType"/>

    <bean id="loadApplicants" class="com.mob.view.action.employer.opportunities.LoadAllApplicantsAction"
            scope="prototype" autowire="byType"/>

    <bean id="loadBookmarkers" class="com.mob.view.action.employer.opportunities.LoadBookmarkersAction"
            scope="prototype" autowire="byType"/>
            
      <bean id="sendMessageFromSearchAction"
          class="com.mob.view.action.search.SendMessagetFromSearch"
          scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="viewIndividualEmployerOpportunities"
          class="com.mob.view.action.employer.ViewIndividualEmployerOpportunities"
          scope="prototype"
          autowire="byType">
    </bean>   
    <bean id="editImageForEmployer"
          class="com.mob.view.action.employer.EditImageForEmployerAction"
          scope="prototype"
          autowire="byType">
    </bean>      
    
     <bean id="contactValidationActionFromSearch"
          class="com.mob.view.action.search.ContactValidationAction"
          scope="prototype"
          autowire="byType">
    </bean>    
    
     <bean id="feturedProfileAction"
          class="com.mob.view.action.employee.FeturedProfileAction"
          scope="prototype"
          autowire="byType">
    </bean>                 

   <bean id="signupAction"
          class="com.mob.view.action.employee.signUPAction"
          scope="prototype"
          autowire="byType">
    </bean>  
     
     <bean id="adminController"
          class="com.mob.view.action.admin.AdminAction"
          scope="prototype"
          autowire="byType">
    </bean>    
      <bean id="adminDao"
          class="com.mob.dao.hibernate.AdminSearchHibernateDao"
          autowire="byType">
    </bean>
    
    <bean id="adminService"
          class="com.mob.services.impl.AdminSearchServiceImpl"
          autowire="byType">
    </bean>   
     <bean id="loginAction"
          class="com.mob.view.action.admin.LoginAction"
          autowire="byType" scope="prototype">
    </bean>  
     
    <bean id="flagaction"
          class="com.mob.view.action.admin.FlagAction"
          autowire="byType" scope="prototype">
    </bean>  
    <bean id="flagService" class="com.mob.flag.services.impl.FlagServiceImpl" autowire="byType">
    </bean>
    <bean id="flagDao" class="com.mob.dao.hibernate.FlagHibernateDao" autowire="byType">
    </bean>
    
    <bean id="helpService" class="com.mob.services.help.impl.HelpServiceImpl" autowire="byType" >
    </bean>
    
   <bean id="helpDao" class="com.mob.dao.hibernate.HelpHibernateDao" autowire="byType"/>
    
   <bean id="adminHelp"
          class="com.mob.view.action.admin.AddAdminHelpAction" scope="prototype"
          autowire="byType">
    </bean>  
     <bean id="createGroupAction"
          class="com.mob.view.action.group.CreateGroupAction" scope="prototype"
          autowire="byType">
    </bean>
    
    <bean id="loadContcatsForGroup"
          class="com.mob.view.action.group.LoadGroupAction" scope="prototype"
          autowire="byType">
    </bean>
    
      
     <bean id="listOfGroupsFromSearchAction"
          class="com.mob.view.action.search.ListOfGroupsFromSearchAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
     <bean id="savegroupTopics"
          class="com.mob.view.action.group.SaveTopicAction"
          scope="prototype"
          autowire="byType">
    </bean>  
      <bean id="joinGroupAction"
          class="com.mob.view.action.group.JoinGroupAction"
          scope="prototype"
          autowire="byType">
    </bean>  
    
     <bean id="updateGroupJoinRequest"
          class="com.mob.view.action.employee.UpdateMessageAction"
          scope="prototype"
          autowire="byType">
    </bean>  
    
     <bean id="listOfMyGroups"
          class="com.mob.view.action.group.ListOfMyGroups"
          scope="prototype"
          autowire="byType">
    </bean>
     <bean id="loadGroupProfileInfo"
          class="com.mob.view.action.group.LoadGroupProfileInfo"
          scope="prototype"
          autowire="byType">
    </bean>
     <bean id="acceptDenyJoinedProfile"
          class="com.mob.view.action.group.AcceptDenyGroupAction"
          scope="prototype"
          autowire="byType">
    </bean>
    
       <bean id="createGroupDiscussions"
          class="com.mob.view.action.group.CreateGroupDiscussions"
          scope="prototype"
          autowire="byType">
    </bean>  
    
      <bean id="makeGroupAdmin"
          class="com.mob.view.action.group.MakeGroupAdminAction"
          scope="prototype"
          autowire="byType">
    </bean>  
     <bean id="deleteGroupMemberAction"
          class="com.mob.view.action.group.DeleteGroupMemberAction"
          scope="prototype"
          autowire="byType">
    </bean>  

     <!-- Browse -->
     <bean id="browseEmployeesAction"
          class="com.mob.browse.action.BrowseEmployeeAction"
          scope="prototype"
          autowire="byType">
    </bean> 
     <bean id="browseEmployersAction"
          class="com.mob.browse.action.BrowseEmployerAction"
          scope="prototype"
          autowire="byType">
    </bean> 
     <bean id="browseGroupsAction"
          class="com.mob.browse.action.BrowseGroupAction"
          scope="prototype"
          autowire="byType">
    </bean> 
     <bean id="browseOppsAction"
          class="com.mob.browse.action.BrowseOpportunitiesAction"
          scope="prototype"
          autowire="byType">
    </bean> 
    
    <bean id="filterAddAction"
          class="com.mob.browse.action.FilterAddAction"
          scope="prototype"
          autowire="byType">
    </bean>  
    <bean id="filterRemoveAction"
          class="com.mob.browse.action.FilterRemoveAction"
          scope="prototype"
          autowire="byType">
    </bean>  
    <bean id="browseDao" class="com.mob.browse.dao.hibernate.HibernateBrowseDao"
    	autowire="byType">
    </bean>


 	<!-- Browse End -->
   
</beans>
